<main
  class="min-h-screen bg-slate-100 flex flex-col justify-between items-center py-10 px-6"
>
  <section
    class="h-[80vh] w-full flex flex-col justify-between items-center md:flex-row"
  >
    <h1 class="text-xl font-bold">Association d'Entraide Aixoise</h1>
    <p>
      Distribution d'aide alimentaires, vestimentaire et produits de première
      nécessité.
    </p>
    <figure class="w-fit h-1/2 cover-fill">
      <img
        src="https://cdn-s-www.ledauphine.com/images/AECFE8A0-9DB1-4989-8503-C0AEDE2F6462/MF_contenu/association-aixoise-d-entraide-des-ramasses-qui-profitent-aux-beneficiaires-mais-pas-que-1749223055.jpg"
        alt=""
        class="h-full w-full"
      />
    </figure>
  </section>
</main>
